.navbar-box {
  background: rgb(44, 44, 44);
  height: 60px;
}
.nav{
  width: 80%;
  margin: auto;
  color: white;
}

.avatar-dropdown{
  float: right;
} 
.nav-items{
  color: white;
}

.ml-auto{
  padding: 0px;
}

.signout-avatar{
margin: 20px;
}

#btnSingIn{
 margin: 10px;
}

/* 
.u-list{
    margin: 0;
    list-style-type: none;
    overflow: hidden;
}
  

  li .link:hover {
    background: rgb(22, 22, 22);
    padding: 4px 17px;
    margin-top: 7px;
    border: 1px solid rgb(22, 22, 22);
    border-radius: 5px;
  }
  
  li .link {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 18px;
    text-decoration: none;
    float: left;
  }


  li button {
    float: right;
    margin: 9px 16px;
    padding: 5px 15px;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    background: rgb(44,44,44);  
  }

  li button:hover{
      background: white;
      color: rgb(44,44,44);
  }

  #fulbito {
    background: white;
    border: 1px solid white;
    border-radius: 60px;
    float: left;
    margin: 7px;
  }

  #fulbito:hover {
    background: transparent;
    border: 1px solid transparent;
  }

  #avatar{
    float: right;
    padding: 5px;
  } */
