
body {
    width: 100%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: black;
}

.loginBox{ 
    position: absolute;
    top: 20%;
    left:  40%;
    width: 300px;
    padding: 30px ;
    background-color: white; 
    border: 1px solid black; 
    border-radius: 5px;
}

.margin-styles{
    margin:30px;
}

.btnSignIn {
    padding: 10px 50px;
    font-size: 15px;
    font-weight: 700;
    color: white;
    background-color: rgb(7, 189, 7);
    border: 2px solid rgb(7, 189, 7);
    border-radius: 5px;
    cursor: pointer;
    width: max-content;
    transition: 0.25s ease;
}

.btnSignIn:hover {
    color: rgb(7, 189, 7);
    background-color: transparent;
}

.inputs{  
    padding: 10px 30px;
    border: none;
    border-bottom: 2px solid rgb(7, 189, 7);
    background: transparent;
    outline: none;
    
}

.margin-styles span{
    color: black;
    font-weight: 500;
}

.margin-styles a{
    color: black;
    font-weight: 700;
}
.margin-styles a:hover{
    color: rgb(7, 189, 7);
    font-weight: 700;
}


